<div class="row">
  <div class="span2">
    <% @game.kingdom_cards.sort{ |a, b| b.cost[:coin] <=> a.cost[:coin] }.each do |card| %>
      <div class="card-container">
        <div><%= image_tag "#{card.name}.jpg", size: '29x46', class: 'kingdom-card' %></div>
        <div class="card-details">
          $<%= card.cost[:coin] %><br /><span class="remaining">(<%= card.remaining %>)</span>
        </div>
        <div class="card-name">
          <span class="<%= card.type_class %>"><%= card.name.titleize %></span>
        </div>
      </div>
    <% end %>
  </div>
</div>
