<div class="row">

  <!-- Kingdom Cards -->
  <div class="span2" id="kingdom-cards">
  </div>

  <!-- Common Cards -->
  <div class="span1" id="common-cards">
  </div>

  <div class="span6">
    <div id="game-log">
      Turn Order is: <%= @game.game_players.collect(&:username).join(', ') %><br /><br />
      <strong>- <%= @game.current_turn.game_player.player_id == current_player.id ? 'Your' : "#{@game.current_turn.game_player.username}'s" %> turn <%= @game.turn % @game.player_count %> -</strong>
    </div>
    <div id="action-area">
      <div id="turn-status">
        <% if @game.current_turn.game_player.player_id == current_player.id %>
          Actions: <strong><%= @game.current_turn.actions %></strong>
          <br />
          Buys: <strong><%= @game.current_turn.buys %></strong>
          <br />
          To Spend: <strong>$<%= @game.current_turn.coins %></strong>
        <% end %>
      </div>
      <div id="game-info">
        Draw Pile:
        <span id="draw-pile">
          <% @game.game_player(current_player.id).deck.count.times do %>
            <span class="card">|</span>
          <% end %>
        </span>
        <br />
        Discard Pile:
        <span id="discard-pile">
          <% @game.game_player(current_player.id).discard.count.times do %>
            <span class="card"></span>
          <% end %>
        </span>
      </div>
    </div>
    <br class="clear" />
    <div id="hand">
      <% last_card = nil %>
      <% @game.game_player(current_player.id).hand.each do |player_card|
        card = player_card.card
        unless card.id == last_card.try(:id) %>
          <% unless last_card.nil? %>
            </ul>
            <div class="card-tooltip">
              <%= image_tag "/images/cards/#{last_card.name}.jpg", size: '176x273', class: 'full-size' %>
            </div>
          <% end %>
          <% card_count = 1 %>
          <% last_card = card %>
          <ul class="hand-card">
        <% end %>
        <li><%= image_tag "/images/cards/#{card.name}.jpg", size: '64x103', class: 'kingdom-card card' %></li>
      <% end %>
      </ul>
      <div class="card-tooltip">
        <%= image_tag "/images/cards/#{last_card.name}.jpg", size: '176x273', class: 'full-size' %>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "websockets/game", "data-turbolinks-track" => true %>
