<div class="row">

  <!-- Kingdom Cards -->
  <div class="span2" id="kingdom-cards">
    <%= render partial: 'cards', locals: { cards: @game.kingdom_cards } %>
  </div>

  <!-- Common Cards -->
  <div class="span1" id="common-cards">
    <%= render partial: 'cards', locals: { cards: @game.victory_cards } %>
    <%= render partial: 'cards', locals: { cards: @game.treasure_cards } %>
    <%= render partial: 'cards', locals: { cards: [@game.curse_card] } %>
  </div>

  <div class="span6">
    <div id="game-log">
      Turn Order is: <%= @game.game_players.collect(&:username).join(', ') %><br /><br />
      <strong>- <%= @game.current_turn.game_player.player_id == current_player.id ? 'Your' : "#{@game.current_turn.game_player.username}'s" %> turn <%= @game.turn % @game.player_count %> -</strong>
    </div>
    <div id="action-area">
    </div>
    <div id="hand">
    </div>
  </div>
</div>

<%= javascript_include_tag "websockets/game", "data-turbolinks-track" => true %>
