{{#each this}}
  <div class="card-container">
    <div>
      <img src="/images/cards/{{name}}.jpg", width="29" height="46" class='card' />
      <div class="card-tooltip">
        <img src="/images/cards/{{name}}.jpg", width="176" height="273" />
      </div>
    </div>
    <div class="card-details">
      ${{cost}}<br /><span class="remaining">({{remaining}})</span>
    </div>
    <div class="card-name">
      <span class="<%= card.type_class %>">{{title}}</span>
    </div>
  </div>
{{/each}}
