{{#each this}}
  <div class="card-container">
    <div>
      <img src="/images/cards/{{name}}.jpg", width="29" height="46" class="card" data-card-id="{{id}}" />
      <div class="card-tooltip">
        <img src="/images/cards/{{name}}.jpg", width="176" height="273" />
      </div>
    </div>
    <div class="card-details">
      ${{coin_cost}}
      {{#if potion_cost}}
        {{#times potion_cost}}
          &oplus;
        {{/times}}
      {{/if}}
      <br />
      <span class="remaining">({{remaining}})</span>
    </div>
    <div class="card-name">
      <span class="{{type_class}}">{{title}}</span>
    </div>
  </div>
{{/each}}
