<br />
{{{text}}}
<form id="response-form">
  {{#each cards}}
    <label for="card_{{id}}" class="checkbox">
      <input type="checkbox" id="card_{{id}}" value="{{id}}" />
      <span class="{{type_class}}">{{title}}</span>
    </label>
  {{/each}}
  <br class="clear" />
  <button type="submit" class="btn btn-primary btn-mini">Choose</button>
</form>
