<strong>{{winner}}</strong> wins the game!
<br />
<br />
{{#each players}}
  <strong>{{this.username}}</strong>:
  <br />
  {{this.score}} Points
  <br />
  {{#each cards}}
    {{count}} x <span class="{{type_class}}">{{title}}</span>
  {{/each}}
  <br />
{{/each}}
