<div>
  {{#if is_proposer}}
    You have
  {{else}}
    <strong>{{proposer.username}}</strong> has
  {{/if}}
  proposed a game.
</div>

<br />

<div>
  <strong>Players:</strong>
  {{#each players}}
    {{username}}
  {{/each}}
</div>

<div>
  <strong>Cards:</strong>
  {{#each cards}}
    <span class="lobby-card {{type_class}}">{{title}}</span>
  {{/each}}
</div>

<br />

<div id="proposal-form-container">
  <form id="proposed-game">
    <input id="game-id" type="hidden" name="game_id" value="{{game_id}}" />
    <button id="decline" class="btn btn-small btn-danger" type="submit" value="Decline Game">Decline Game</button>
    <button id="accept" class="btn btn-small btn-success" type="submit" value="Accept Game">Accept Game</button>
  </form>
</div>
