<%= indent_message(action) %>
<%= player_name(target_player, player) %>
<%= player_action(target_player, player, action) %>
<span class="<%= card.type_class %>"><%= card.name.titleize %></span>
<%= card_destination(destination) unless destination.nil? %>
