<%= same_player?(game.current_player, player) ? 'You play' : "#{game.current_player.username} plays" %>
<span class="<%= card.type_class %>"><%= card.name.titleize %></span>

<% if defined? card_drawer %>
  drawing
  <% if same_player?(game.current_player, player) %>
    <%= show_cards(card_drawer.drawn_cards) %>
  <% else %>
    <%= card_drawer.drawn_cards.count %> card(s)
  <% end %>
<% end %>

<% if defined? revealed %>
  revealing
  <%= show_cards(revealed[:discarded]) %>
  <% unless revealed[:drawn].blank? %>
    and drawing
    <%= show_cards(revealed[:drawn]) %>
  <% end %>
<% end %>

<%= ' and' if (defined?(card_drawer) || defined?(revealed)) && defined?(get_text) %>
<%= " getting #{get_text}" if defined? get_text %>
